<center>
<p id="notice"><%= notice %></p>

   <div class="posts releaseInfo alert-info alert">
  		<h2><%= @post.title %></h2>
  			<div class="image-wrapper">
  				<%= image_tag @post.avatar.url(:thumb) %>
  			</div>
  			 <p><%= @post.content.html_safe %></p>

  	</div>
		<%= link_to 'Edit', edit_post_path(@post), :class=>"button" %>
		<%= link_to 'Back', posts_path, :class=>"button" %>
</center>