
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<html>
    <link rel="stylesheet" href="stylesheets/application.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--Navigation bar-->
  <body>
    <header id="main_navigation" class="clearfix">
          <a href="#" class="name">Home</a>
            <nav>
              <a href="#">Contact</a>
              <a href="#">Star</a>
              <a href="#">Papers</a>
              <div class="dropdown">
              <div class="dropbtn"><a>Profile</a></div>
              <div class="dropdown-content">
              <% if current_user %>
                  <div class="round-image-50">
                    <%= image_tag(current_user.image.url(:thumb)) %>
                  </div>
                  <p>Welcome <p><%= current_user.name%>-san!</p></p>
                    <p><%= link_to 'New Post', new_post_path %></p>
                    <p><%= link_to 'Edit Profile',edit_user_registration_path %></p>
                    <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
                    <% else %>
                    <p><%= link_to 'Login', user_session_path %></p>
                  <% end %>
                </div>
            </div>
            </div>
              </div>

            </nav>
    </header>
    <!--Navigation bar end-->

    <!-- Slider -->
    <div>
        <div id="sliderFrame">
        <div id="slider">
            <img src="images/1.jpg" alt="Welcome" />
            <img src="images/2.jpg" alt="Our" />
            <img src="images/3.jpg" alt="Japanese" />
            <img src="images/4.jpg" alt="Novel" />
            <img src="images/5.jpg" alt="Site" />
        </div>
    </div>
    <!-- Slider end -->

    <!--Body post widget-->
    <div class="wrapper wrapper_padding clearfix">
      <div class="col-2 homepage_content">
        <h2>Picture</h2>
        <hr><p>
        </p></hr>
      </div>
      <div class="col-1 homepage_content">
        <%= yield =%>
      </div>
      <div class="col-3 homepage_content">
        <h2>Picture2</h2>
        <hr><p>
        </p></hr>
      </div>
    </div>
  </body>
  <footer id="main_footer">
    <p class="copyright">&copy; 2016 Design: SOYL ERDEM IT CLUB</p>
    <nav>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
  </footer>
</html>
